<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="main-title">About</h1>
  </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8 static-content">
      <p>This is a web application for creating and searching for reviews for classified ads.</p>
 
      <p>The code is available on github at <a href="https://github.com/rhbt/reviewer-project">https://github.com/rhbt/reviewer-project</a><p>
    </div>
</div>


