<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="main-title">Contact</h1>
  </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8 static-content">
      <p>If you have any comments or questions, send an email to rhbt.dev@gmail.com</p>
    </div>
</div>



