<div class="row">
  <div class="col-md-12 text-center">
    <h1>Help</h1>
    <p class="col-md-offset-2 col-md-8">
      Lorem ipsum dolor sit amet, inimicus salutandi forensibus vis at, 
      id laoreet facilis elaboraret nam, et sea novum reprehendunt. 
      Delenit corrumpit ad nec. Est at zril choro recusabo, an vix 
      officiis recusabo, verear delenit omittantur est te. Nonumy 
      ullamcorper eos cu. Id quodsi scripta praesent pro.
    </p>
  </div>
</div>

