<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="main-title">Help</h1>
  </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8 static-content">
      
    </div>
</div>


