<% @user.saved_reviews.each do |r| %>
    <div>
      <%= link_to "#{r.url}", r %> 
        <%= form_for(current_user.stickied_reviews.find_by(review_id: r.id),
        html: { method: :delete }) do |f| %>
        <%= hidden_field_tag :review_id, r.id %>
        <%= f.submit "Unsave this review", data: { confirm: "You sure?" }, class: "btn" %>
    </div>
  <% end %>
<% end %>