<h1><%= @user.email %></h1>
<section>

  <h2>Reviews you've submitted</h2>

  <% @reviews.each do |r| %>
    <p><%= link_to "#{r.url}", r %></p>
    
    <%= link_to "delete", r, method: :delete,
      data: { confirm: "You sure?" } %>
           
  <% end %>
</section>


<hr>


<section></section>
  <h2>Saved Reviews</h2>
  <%= render "saved_reviews" %>
</section>

