@font-face {
  font-family: "Montserrat";
  src: font-url(asset-path("Montserrat-Regular.otf"));
          font-weight: normal;  
          font-style: normal; 
}

@font-face {
  font-family: "Montserrat";
  src: font-url(asset-path("Montserrat-Hairline.otf"));
          font-weight: 100;  
          font-style: normal; 
}

@font-face {
  font-family: "Montserrat";
  src: font-url(asset-path("Montserrat-Light.otf"));
          font-weight: 300;  
          font-style: normal; 
}

@font-face {
  font-family: "Montserrat";
  src: font-url(asset-path("Montserrat-UltraLight.otf"));
          font-weight: 200;  
          font-style: normal; 
}