$(document).on('ready page:load', function() { 
  $(document).on("click", ".edit-link", function(e) {
    
    e.preventDefault();

    var textNode = $(this).parent().prev().prev().find(".review-comment");
    var text = textNode.contents().get(0).nodeValue.trim();

    var editDiv = $(this).parent();
    $(this).css("display", "none");
    

    editDiv.append("<a href='#', class='save-link'>Save</a>")
    .append("<a href='#', class='cancel-link'>Cancel</a>");
    
    textNode.text("")
    .append("<textarea rows='6' cols='110'>" + text  +"</textarea>");
    
    $(".save-link").on("click", function(e) {
      e.preventDefault();
      
      var newText = textNode.find("textarea").val().trim();
      var errors = editCommentModule.edit_errors(newText);
      formValidationModule.removePrevious();
      if (errors.length == 0) {
        editDiv.prev().find("textarea").empty().text(newText);
        editDiv.find("a").slice(2, 4).remove();
        textNode.empty().append(newText);
        editDiv.prev("form").submit();
      }
      else {
        var cssCommentID = $(this).parents().eq(2).attr("id");
        var commentID = editCommentModule.getCommentID(cssCommentID);
        showErrors(errors, "", commentID);
      }
      
      
    })
    
    $(".cancel-link").on("click", function(e) {
      e.preventDefault();

      editDiv.find("a").slice(2, 4).remove();
      editDiv.find("a").slice(1,2).css("display", "inline");

      textNode.empty().append(text);
      formValidationModule.removePrevious();
      
    })
 
  })
  
})
