@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$light-blue: #29f;

@font-face {
  font-family: "Montserrat";
  src: url("/assets/Montserrat-Regular.otf");
          font-weight: normal;  
          font-style: normal; 
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/Montserrat-Hairline.otf");
          font-weight: 100;  
          font-style: normal; 
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/Montserrat-Light.otf");
          font-weight: 300;  
          font-style: normal; 
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/Montserrat-UltraLight.otf");
          font-weight: 200;  
          font-style: normal; 
}

body * {
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
  font-weight: 200 !important; 
}

/* root page */
.main-title {
  font-size: 36px;
  margin-top: 5px;
}

#review-search {
  display: inline-block;
  width: 40%;
  height: 55px;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: 300 !important;
  letter-spacing: .6px;
  line-height: 150%;
}

.btn.btn-primary#search-button {
  margin-top: -5px;
  width: 35%;
  height: 55px;
  background-color: $light-blue;
  letter-spacing: .6px;
  line-height: 150%;
  text-transform: uppercase;
}

.review-link {
  margin-top: 25px;
  font-size: 25px;
}

.static-content {
  letter-spacing: .6px;
  line-height: 150%;
}

/* forms */

.form-general {
  input {
    margin-bottom: 15px;
  }
  label {
    font-weight: 300 !important;
    letter-spacing: .6px;
    line-height: 150%;
    span {
      margin-left: 20px;
    }
  }
  input[type=submit] {
    width: 100%;
    background-color: $light-blue;
    font-weight: 300 !important;
    letter-spacing: .6px;
    text-transform: uppercase;
  }
}

#error_explanation {
  color: red;
  ul {
    margin: 0 0 30px 0;
  }
}

#session_remember_me {
  margin-left: 0;
}

.button-general, .button-general a:hover {
  margin-left: 10px;
  padding: 2px 6px 2px 6px;
  border: 1px solid #357ebd;
  border-radius: 4px;
  background-color: $light-blue;
  color: white !important;
  text-decoration: none !important;
  font-weight: 300 !important;
}

/* profile */

.profile-subheader {
  font-size: 26px;
}

.review-list {
  div {
    display: inline-block;
    margin-right: 20px;
    letter-spacing: .6px;
  }
  form {
    display: inline-block;
  }
}

/* review content */

.review-comment-header {
    margin-top: 10px;
    font-weight: 300 !important;
    letter-spacing: .6px;
}

.review-comment {
    margin-bottom: 15px;
    letter-spacing: .6px;
    line-height: 150%;
}

#new_comment {
  textarea {
  letter-spacing: .6px;
  line-height: 150%;
  }
  input[type=submit] {
    margin-bottom: 10px;
    width: 54.5%;
    background-color: $light-blue;
    font-weight: 300 !important;
    letter-spacing: .6px;
    text-transform: uppercase;
  }
}

#new_stickied_review {
  @extend #new_comment;
  width: 45%;
}

div #review-delete {
  margin-top: 5px;
}

#review-delete {
  a {
    margin-left: 0px;
    font-size: 16px;
  }
}

.star-rating > .field_with_errors {
  display: none;
}

.star-rating > input{
  display: none;
}

.star-rating > .star-empty{
  cursor:pointer;
  width: 17px;
  height: 17px;
  background: url("empty_star.gif");
}

.star-rating > .star-full{
  cursor:pointer;
  width: 17px;
  height: 17px;
  background: url("filled_star.gif");
}

.star-rating > .star-red{
  cursor:pointer;
  width: 17px;
  height: 17px;
  background: url("red_star.gif");
}

.star-rating > .star-end{
  cursor:pointer;
  width: 17px;
  height: 17px;
  background: url("empty_star.gif");
}

.static-rating {

}

/* header */

#logo {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}

header.nav-item {
  text-transform: uppercase;
  font-size: 13px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* debug */

.debug_dump {
  margin-top: 45px;
}


