@import "bootstrap-sprockets";
@import "bootstrap";


/* header */

#logo {
  color: black;
  text-transform: uppercase;
}

.nav-item {
  color: black;
  font-size: 1.2em;
}

/* forms */

input {
  margin-bottom: 15px;
  &[type="submit"] {
    width: 100%;
  }
}

label span {
  margin-left: 20px;
  font-weight: normal;
}

/* form for log in  */

#session_remember_me {
  margin-left: 0;
}

/* form for reviews  */

#review_content {
  margin-bottom: 10px;
}

/* home */
#review-search {
  margin-top: 20px;
}

#write-review-link {
  margin-top: 50px;
}

.debug_dump {
  margin-top: 45px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}