@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  color: black;
  text-transform: uppercase;
}

.nav-item {
  color: black;
  font-size: 1.2em;
}


input {
  margin-bottom: 15px;
  &[type="submit"] {
    width: 100%;
  }
}

label span {
  margin-left: 20px;
  font-weight: normal;
}


#session_remember_me {

  margin-left: 0;
}