.profile-subheader {
  font-size: 26px;
}

.edit_stickied_review {
  display: inline-block;
}

.saved-review-header {
  display: inline-block;
  margin: 0px 15px 0px 0px;
  font-weight: 300 !important;
  font-size: 18px;
}

.saved-review {
  margin-bottom: 15px;  
}

.static-rating > img {
  vertical-align: -1px;
}

.button-link {
  border: none;
  padding: 0px;
}