<% @review.comments.each do |c| %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8 text-left">
      
      <div class="review-comment-header 
        <% if c.user.id == @review.user_id %>
          op-comment-header
        <% end %>
      ">
        <%= c.user.username %> - 
        <%= time_ago_in_words(c.created_at) %> ago 
      </div>
        
      <div class="review-comment">
        <%= c.content %>
          <% if current_user?(c.user) %>
            <div class="comment-delete">
              <%= link_to "Delete", c, method: :delete, 
              data: { confirm: "You sure?" } %>
            </div>
          <% end %>
      </div>
        
    </div>
  </div>
<% end %>