<div class="review-comment-header op-comment-header">
  <%= @review.user.username %> - 
  <%= time_ago_in_words(@review.created_at) %> ago 
</div>
        
<div class="review-comment">
  <%= @review.content %>
</div>
